head {
	color: #b6bb5f;
	font-family: 'Oxygen', sans-serif;
}

h1 {
	display: inline;
	position: absolute;
	left:150px;
	top: 0px;
	color: #b6bb5f;
	padding-left: 10px;
}

#allOrders {
	float: right;
	background-color: #b6bb5f;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

body {
	font-size: 16px;
	color: #b6bb5f;
	font-family: 'Oxygen', sans-serif;
	background-color: #efefef;
}

header {
	font-size: 24px;
	color: #b6bb5f;
	font-family: 'Oxygen', sans-serif;
	background-color: #ffffff;
}

#mainWindow {
	align-content: center;
}

.align-center {
	display: block;
	margin: 0px auto;
}

table {
	margin-left: auto; 
  	margin-right: auto;
	text-align: center;
}

td {
	text-align: center;
	width: 300px;
	height: 100px;
}
td button {
	width: 250px;
	height: 100px;
	font-size: 24px;
	background-color: #b6bb5f;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

button:hover {
	background-color: #6d712eff
}

#newOrder {
	width: 500px;
	height: 100px;
	font-size: 24px;
	background-color: #b6bb5f;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.center {
	margin-left: auto;
 	margin-right: auto;
}

footer {
	float: left;
}